@import "bulma";

html{
  background-color: #F3F3F3;
}

div.container {
  margin-right: 0;

}
.title {
  padding-top: 50px;
  height: 200px;

  //margin-right: 0;


  background-color: #1D1D1D;
  color: white;
  text-align: center;
  font-size: 5em;
}

.columns{
  font-size: 1em;
  margin-top: 130px;
  margin-left: 10%;

  h1{
    padding-bottom: 20px;
    font-size: 2em;
  }

  a{
    color: black;
    text-decoration: underline;
  }
  li {
    line-height: 40px;
    color: #8B8B8B;
    font-size: 1.2em;
  }
  span{
    color: #82B2B2;
  }
  img{
    width: 150px;
    border-radius: 50%;
  }

  .column{
    padding-left: 60px;
  }

}
